.vs/git-test/FileContentIndex/b2b9c55f-a163-4dfd-bac5-117cfe7eb992.vsidx
.vs/git-test/FileContentIndex/d096b378-ca10-4fe9-aee7-1b374ca9d7a4.vsidx
.vs/git-test/FileContentIndex/read.lock
.vs/git-test/v17/Browse.VC.db
.vs/git-test/v17/Browse.VC.db-shm
.vs/git-test/v17/Browse.VC.db-wal
.vs/git-test/v17/Browse.VC.opendb
.vs/git-test/v17/ipch/AutoPCH/7532594e3ec236d9/SOURCE.ipch
git-test/git-test.vcxproj.filters
